@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font-color: #1a1a1a;
$borders-color: #000;
$headers-background: #d2dccb;
$main-background: #fcfbf2;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  font-size: 10px;
  color: $font-color;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.app-name {
  width: 100%;
  margin-bottom: 40px;
  font-size: 4rem;
  text-align: center;
}

.covid-table {
  min-width: 25%;
  margin-right: 40px;
  font-size: 2.4rem;
  border: 1px solid $borders-color;
  border-collapse: collapse;
}

.covid-table__location {
  padding: 10px;
  border: 1px solid $borders-color;
  background-color: $headers-background;
}

.covid-table__switchers {
  text-align: center;
}

.covid-table__row td {
  padding: 24px;
  background-color: $main-background;
}

.covid-table__stat-value {
  text-align: right;
}

.covid-chart {
  width: 45%;
}

.list {
  height: 40rem;
  width: 35rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 12px 27px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 12px 27px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 12px 27px -4px rgba(0, 0, 0, 0.75);
  transition: 1s ease all;

  &__queryCountry {
    z-index: 6;
    margin-bottom: 1rem;
  }

  &__inputCountry {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
  }

  &__listCountry {
    top: 0;
    transition: 0.75s ease all;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .listCountry__countryEl {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
    cursor: pointer;

    &:hover {
      -webkit-box-shadow: 0 12px 27px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 12px 27px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0 12px 27px -4px rgba(0, 0, 0, 0.75);
    }
  }

  .countryEl__Img {
    width: 10rem;
    height: 5.7rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2rem;
  }

  .countryEl__name {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }

  .countryEl__count {
    font-size: 1.55rem;
    font-weight: 300;
  }
}

.switchers {
  transition: 0.75s ease all;
  z-index: 4;
  top: 0;
  display: flex;
  justify-content: space-around;
  position: relative;

  &__switcher {
    width: 32%;
    height: 4rem;
    font-size: 2rem;
  }
}

.countryEl {
  margin-bottom: 2rem;
}

.countryElImg {
  width: 6rem;
  height: 4rem;
  box-sizing: border-box;
  border: 1px solid rebeccapurple;
}

#mapid {
  width: 70rem;
  height: 40rem;
  transition: 0.5s ease all;
}

.map {
  display: flex;
  flex-direction: column;
  position: relative;

  &__country_name {
    font-size: 2rem;
    text-align: center;
  }

  &__country_value {
    margin: 0.6rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__sortingСriteria {
    position: relative;
  }

  &__legend {
    width: 12rem;
    height: 12rem;
    background-color: #222222de;
    position: relative;
    top: -12rem;
    right: 0;
    z-index: 1000;
    align-self: flex-end;

    &_name {
      text-align: center;
      font-weight: 200;
      color: white;
      margin-bottom: 0.7rem;
    }

    &_body {
      display: flex;
      flex-direction: column;
    }

    &_item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 0.3rem;
    }

    &_circle {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      opacity: 0.7;
      border: 1px solid black;
    }

    &_circleName {
      width: 7rem;
      text-align: center;
      font-weight: 200;
      color: white;
    }
  }

  .mapidNS {
    width: 2rem;
  }
}

.opacity {
  opacity: 0;
}

.listFS {
  width: auto;
}

.mapNS {
  width: 0;
}

.mapSC {
  display: none;
}

.switchUp {
  top: -6rem;
}
